body {
font-family: Roboto, sans-serif;
letter-spacing: 0.02em;
background-color: #fff;
color: var(--primary-text-color);
}

:root {
    --white: #fff;
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --normal-color-IRIS: #4D5AE5;
    --accent-color-OCEAN: #404BBF;
    --hero-background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --seti-social-CLOUD: #F4F4FD;
    --footer-hover-social: #31D0AA;
   
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
margin-left: auto;
margin-right: auto;
width: 1158px;
padding: 0 15px;
/* border: 2px solid red; */
}

.link {
    text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0; 
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Шапка index      +       Шапка Portfolio---------------*/
.header {
border-bottom: 1px solid #E7E9FC;
}

.cont-header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}

.nav-logo {
    margin-right: 76px;
    color: var(--normal-color-IRIS);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-logo-s {
    color: var(--title-text-color);
}

.nav-list {
display: flex;
}

.nav-list .item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
/* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); -тоже что и написано ниже*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: var(--accent-color-OCEAN);
}

.current {
    position: relative;
}

.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color-OCEAN);
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
}

.address-list .item:not(:last-child) {
    margin-right: 40px;
}

.address-link {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus, .address-link:active {
color: var(--accent-color-OCEAN);
}

/* ------------------------Оглавление/ Hero index---------------------------*/
.hero {
    max-width: 1440px;
    height: 600px;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-color: var(--title-text-color);
    background-image: var(--hero-background), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 48px;
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--normal-color-IRIS);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--accent-color-OCEAN);
}


/*-------------------------- Секция подход к работе/approach to work -------------------------*/
.work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.work-list {
display: flex;
}

.work-list .item {
width: 264px;
}

.work-slider {
    width: 264px;
    height: 112px;
    background-color: var(--seti-social-CLOUD);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.work-icon {
    width: 64px;
    height: 64px;
}

/* .work-list .item::before{
    display: block;
    content: "";
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antenna::before{
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
} */

.work-list .item:not(:last-child) {
margin-right: 24px;
}

.work-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
    
.work-text {
font-size: 16px;
line-height: 1.5;
}

/*------------------------------- Секция картинок------------------------ */
.pictures {
    padding-bottom: 120px;
}

.pictures-title {
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.pictures-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.pictures-item {
    flex-basis: calc((100% - 48px)/ 3);
}
/* .pictures-item:not(:last-child) {
    margin-right: 24px;
} */

/* ------------------------Секция команда ----------------------------*/
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 24px;
}

.team-name {
padding: 32px 16px;
align-items: center;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
}

.team-text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.seti-list {
    display: flex;
    justify-content: space-between;

}

.seti-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.seti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--normal-color-IRIS);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.seti:hover, .seti:focus {
    background-color: var(--accent-color-OCEAN);
}

.seti-icon {
    width: 16px;
    height: 16px;
    fill: var(--seti-social-CLOUD); 
}


/* /* .team-item::after {
    display: inline-block;
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: var(--normal-color-IRIS);
    background-image: url(../images/instagram.svg);
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    
 
}

.team-item:hover::after, .team-item:focus::after {
background-color: var(--footer-hover-social);
} */


/*-------------------------------- Клиенты/Customers-------------------------- */

.customers {
    padding-top: 130px;
    padding-bottom: 120px;
    background: var(--white);
}

.customers-title {
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.customers-item {
    width: 168px;
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover, .customers-link:focus {
    border-color: var(--accent-color-OCEAN);
    color: var(--accent-color-OCEAN);
}

/* Низ страницы/Подвал index     +      Подвал Portfolio---------------*/
.footer-end {
    max-width: 1440px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}

.contact {
    display: flex;
}

.end-website {
    margin-right: 120px;
}

.footer-logo {
    color: var(--normal-color-IRIS);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-s {
    color: #F4F4FD;
}

.footer-text {
    width: 264px;
    margin-top: 16px;
    color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
}

.end-social {
    width: 208px;
    margin-right: 80px;
}

.end-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--white);
}

.end-item a {
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* Можно это не писать, так как к .seti применяеться эта функция
     transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.end-item a:hover, .end-item a:focus {
    background-color: var(--footer-hover-social);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.end-icon {
    width: 24px;
    height: 24px;
}

.end-email {
    width: 453px;
}

.end-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.end-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    padding-left: 16px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.end-input:focus, .end-input:hover {
    border-color: var(--white);
}

.end-email-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: var(--normal-color-IRIS);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.end-email-btn:hover, .end-email-btn:focus {
    background-color: var(--accent-color-OCEAN);
}

.end-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}

.email-end {
    fill: var(--white);
}

/* ---------------------------Modal window ---------------------------------*/
.backdrop {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2f4266;
    transition: opacity 1000ms ease-in-out, visibility 1000ms ease-in-out;
}

.modal {
    width: 408px;
    min-height: 576px;
    padding: 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 1000ms ease-in;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    transition-property: background-color, border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    border: 2px solid var(--accent-color-OCEAN);
    fill: var(--accent-color-OCEAN);
}

.modal-close-btn:active {
    background-color: var(--accent-color-OCEAN);
    border: none;
    fill: #F4F4FD;
}

.modal-close {
    width: 8px;
    height: 8px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5x;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-desc {
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    margin-bottom: 8px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-input:hover {
    border-color: var(--normal-color-IRIS);
}

.modal-input:focus + .modal-icon {
    fill: var(--normal-color-IRIS);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-textare {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    margin-bottom: 16px;
    padding: 8px 16px;
    resize: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textare::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-textare:focus, .modal-textare:hover {
    border-color: var(--normal-color-IRIS);
}

.chek-agree {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
} 

.chek-agree span {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-chek:checked + .chek-agree span {
    background-color: var(--accent-color-OCEAN);
    border: none;
    fill: #F4F4FD;
}

.input-chek:focus +.chek-agree span {
    border-color: var(--accent-color-OCEAN);
}

.modal-send-btn {
    display: block;
    margin: auto;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--normal-color-IRIS);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover, .modal-send-btn:focus {
    background-color: var(--accent-color-OCEAN);
}

/* ---------------------- Portfolio----------------------- */
/* ----------------Секция работ Portfolio----------------------- */

.portfolio-section {
    padding: 96px 0 120px 0;
}


.control {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.control .btn {
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--normal-color-IRIS);
    background-color: var(--seti-social-CLOUD);
    cursor: pointer;
    transition-property: color, background-color, border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.control .item:not(:last-child) {
    margin-right: 24px;
}

.control .btn:hover, .control .btn:focus{
    color: var(--white);
    background-color: var(--accent-color-OCEAN);
    border: 1px solid var(--accent-color-OCEAN);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.slider {
    display: flex;
    flex-wrap: wrap;
    
}

.slider-item {
    width: 360px;
    height: 420px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.slider-item:nth-child(3n) {
    margin-right: 0;
}

.slider-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.slider-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-link:hover, .slider-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.slider-item:hover .slider-cover-text {
    transform: translate(0);
}

.slider-cover-wrap {
    position: relative;
    overflow: hidden;
}

.slider-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    color: var(--seti-social-CLOUD);
    background-color: var(--normal-color-IRIS);
    padding: 40px 32px 164px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
}

.additional {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    transition-property: border-right, border-bottom, border-left;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.additional:hover, .additional:focus {
    border-right: 1px solid #F4F4FD;
    border-bottom: 1px solid #F4F4FD;
    border-left: 1px solid #F4F4FD;
}

.slider-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.slider-text {
    margin-top: 8px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}
